# these sites do not work if they are in the hosts file
wolframalpha.com
www.wolframalpha.com
www2.wolframalpha.com
www3.wolframalpha.com
www4a.wolframalpha.com
www4d.wolframalpha.com
blog.wolframalpha.com
microsoft.com
msdn.microsoft.com
paypal.com
technet.microsoft.com
support.microsoft.com
nytimes.com
